/* Top headlline section with image on left nad text on right */
/* ABOUT US PAGE */
div#textAbout{
  display: flex;
  margin: 5% auto;
  align-items: center;
  align-content: center;
  width: 100%;
  vertical-align: middle; 
}

#textAbout div{
  width: 50%;
}

/* B&F logo alignment */
#imgContain{
  display: flex;
  justify-content: center;

}

/* Text On right */
#textContain{
  padding: 10vw 15vw 10vw 0;
}

#textContain h1{
  padding: 0 0 2vw 0;
  color: #C8102E;
}



/* --------------------------------------------- */
/* ABOUT US PAGE */
/* This is all panels with text and photos of achievements */
#achievement{
  display:flex;
  width: 100%;
  height: 30vw;
  background-color: #53565A;
}
div.thirty{
  width: 30%;
}

div.seventy{
  width: 70%;
  max-width: 70%;
}

div.seventy img{
  object-fit: cover;
  overflow: hidden;
  contain: content;
  width: 100%;
  height:100%;
  justify-content: center;
  
}

/* --------------------------------------------- */
/* ABOUT US PAGE */
/* last section at bottom with the explore oppurtunitys and the 4 images */

div#featuredProjects{
  margin: auto;
  text-align: center;
}

#featuredProjects div.divisions{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 0% auto;

}
#featuredProjects div.divisions div.sizingExpertise{
  width: 15%; 
  margin: 2% 1vw;
}

#featuredProjects div.divisions div.sizingExpertise #headers{
  color: white;
  text-align: center;
  width: 100%;
  justify-content: center;
  position: absolute;
  background-color: black;
  padding: 3% 0;
  bottom: 0%;
}
.headersStyles{
  font-size: 1vw;
}

.flex{
  display: flex;
}
.imgLink{
  height:14vw;
}

.aboutSplit{
  width: 30%;
  text-align: center;
  
}

#headerExpertise{
padding: 2vw 0;
margin: 2vw 5vw;
border-top: #C8102E solid 2px;
}
#img{
  align-content: center;
  width: 100%;
  height: 100%;
}



div#text{
  justify-content: center;
  align-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}


/* --------------------------------------------- */

/* 
#photoContain{
  width: 100%;
  justify-content: center;
}
#learnText{
  text-align: center;
  padding: 2vw 0;
}
#center{
  text-align: center;
  align-content: center;
}
.product{
    display: flex;
    flex-wrap: wrap;
  }
  .product .itemBox{
    position: relative;
    width: 15vw;
    height: 300px;
    margin: 5px;
  }
  .product .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image{
    position: relative;
    width: 400px;
  }
  .img{
    display: block;
    width: 100%;
  
  }
  .content{
    vertical-align: bottom;
    position: absolute;
    bottom: 0px;
    background-color: black;
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
  .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #ffffff;
    display: flex;
    font-family: 'Quicksand' sans-serif;
    flex-direction: column;
    transition: opacity 0.3s;
  }
  body{
    font-size: 1vw;
  }
  



.Expertise{
    background-color: rgba(104, 104, 104, 0.445);
}
.idealPhoto{
    width: 20vw;
} */
