
.headerBenefit{
    font-size: 3vw;
    
    text-align: center;
}
div.statement{
    align-content: center;
    text-align: center;
    padding-bottom: 3vw;
    font-size: 2vw;
    width: 50%;

}
div.section{
    display: flex;
    margin-bottom: 3vw;
    font-size: 2vw;
    border: 1px black solid;
    align-content: center;
}
.text{
    text-align: center;
    font-size: 2vw;
}
#sectionimg{
    float: right;
}
#quote{
    flex: 2 0 0%;
}

.benefits{
    margin-bottom: 4vw;
}

div#alignmentB{
    width: 100%;
    margin: auto;
    align-content: center;
}

div.flexB{
    display: flex;
}
div#benefitsB{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-bottom: 3vw;
    font-size: 2vw;
    margin: auto;
    justify-content: center;
}
.borderB{
    text-align: center;
    width: 15vw;
    border: solid 2px black;
    align-content: center;
    align-items: center;
    position: relative;
}