h2{
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 15px;
    text-align: center;
    word-wrap: normal;
    color: black;
    font: bold;
    padding: 15px;
    text-align: center;
    word-wrap: normal;
    width: 100%;
    justify-content: center;
    display: block;
}
div.text{
    width: 100%;
    margin: auto;
    margin: 20px;
}
.divisions{
    display: flex;
    margin: auto;
}

#generalInfo{
    display: block;
    background-color: rgba(0, 8, 12, 0.301);
}
#generalInfo .flex{
    background-color: white;
}
.flex{
    display: flex;
}
div img.imgDeliverySize{
    width: 100%;
    max-height: 100%;
}
.flex div{
    margin: auto;
    justify-content: center;
}
.flex div p{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#margin{
    margin: auto 5vw;
    justify-content: center;
}

.padding  h1{
    font-size: 2vw;
}
#flex2{
    display: flex;
}
.sizingGrid{
    justify-content: center;
    text-align: center;
    font-size: medium;
}
.sizingGrid div{
    padding: 1vh 1vw;
    height: 5vw;
    width: 10vw;
    background-color: #C8102E;
    color: white;
    margin: 2vh 2vw;
}
.width{
    width: 100%;
}
.morePadding{
    display: flex;
    background-color: white;
    height: 100%;
}
.paddingTextMethod{
    margin: 5vw;
    align-content: center;
    justify-content: center;
    width: 35%;
}

.paddingTextMethod p{
    border-top: 2px #C8102E solid;
}

/* .paddingTextMethod a.button{
    position: relative;
    bottom: 0;
} */
.paddingTextMethod div.positionProjectButton{
    position: relative;
    width: 100%;
}
.paddingTextMethod div.positionProjectButton a.button{
    position: absolute;
    bottom: 0;
}
.deliveryMethodPhotos{
    width: 100%;
}

.button{
    background-color: #C8102E;
    width: fit-content;
    padding: .5vw 1vw;
    font-size: 1.8vw;
}
#deliveryMargin{
    
    height: 650px;
}
.marketsIMG{
    width: 65%;
}

img.imgDeliverySize{
    height:100%;
}
.flexDelivery div p{
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
}
div#exploreProjects{
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 3vh 8vw;
    margin: 3vh auto;
}
div#exploreProjects div{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin: 2vw 1vw;
}
.backgroundContact{
    background-color:rgba(255, 0, 0, 0.733);
    height: min-content;
    width: 100%;
    display: block;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background: url(../Division_Tiles/Wet\ Utilities.jpg), rgba(255, 0, 0, 0.733);
    background-repeat: no-repeat;
    background-size: cover;
}
.contactWhiteBack{
    background-color: rgba(255, 255, 255, 0.467);
    width: fit-content;
}

#marketsText h1{
    margin: 4vw auto;
    text-align: center;
}
#marketsText p{
    margin: 3vw 20vw;
    word-break: break-all;
}
.contactWhiteBack h1, .padding div h1, .methodsHeader, #exploreProjects h1{
    font-size: 2.4vw;
}
#servicesTextTiles p, .methodsText{
    font-size: 1vw;
}

.sizingGridDivisions{
    justify-content: center;
    text-align: center;
    font-size: medium;
}
.sizingGridDivisions div{
    padding: 1vh 1vw;
    height: 11vh;
    width: 15vw;
    background-color: #C8102E;
    color: white;
    margin: 2vh 2vw;
}
.sizingGridDivisions div p{
    vertical-align: middle;
}

.flexDeliveryServices div{
    justify-content: center;
}
.flexDeliveryServices div p{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
}

.morePaddingServices{
    display: flex;
    background-color: white;
    margin: 5vh;
}
.morePaddingServices div{
    align-content: center;
    justify-content: center;
}
.servicesIMG{
    width: 70vw;
    height: 100%;
}
div#servicesTextTiles{
    margin: 3vw 10vw 0 3vw;
}
div#servicesTextTiles a.button{
    margin-top: 10vh;
    margin-bottom: 5vh;
}

div#undergroundServicesText{
    text-align: center;
    margin: 5vh 15vw;
}

/* ------------------------------------ */
/* Delivery methods */

.deliveryMethods{
    display: flex;
    padding: 30px 30px;
    background-color: rgba(0, 8, 12, 0.301);
    justify-content: center;
    
}

.deliveryMethodsCards{
    width: 30%;
    height: 670px;
    background-color: white;
    position: relative;
}

.deliveryMethodsText{
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    height:max-content;
}
.alignmentButton{
    display: flex; 
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 30%;
    
}
.deliveryMethodsText p{
    padding: 0px 20px 50px 20px;
    
}
.deliveryMethodsText h1{
    padding: 15px 0;
}
.popup{
    
    text-align: center;
    width: 500px;
    background: #fff;
    
    position: fixed;
    bottom: 50%;
    left:50%;
    transform: translate(-50%,50%);
    z-index: 20;
}
#popupDesign{
    display: none;
    border: black 1.5px solid;
}
#popupJOC{
    display: none;
    border: black 1.5px solid;

}
#popupCMAR{
    display:none;
    border: black 1.5px solid;

}
#popupHardBids{
    display:none;
    border: black 1.5px solid;

}
#popupERW{
    display:none;
    border: black 1.5px solid;
}
.actionButton{
    background-color: #C8102E;
    width: fit-content;
    padding: .5vw 1vw;
    font-size: 1.8vw;
    color: #fff;
    border: black 1px solid;

}
.designBidCloseBtn{
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
}