h2{
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 15px;
    text-align: center;
    word-wrap: normal;
    color: black;
    font: bold;
    padding: 15px;
    text-align: center;
    word-wrap: normal;
    width: 100%;
    justify-content: center;
    display: block;
}
div.text{
    width: 100%;
    margin: auto;
    margin: 20px;
}
.divisions{
    display: flex;
    margin: auto;

}

#generalInfo{
    display: block;
    padding: 5vh 5vw;
    background-color: rgba(0, 8, 12, 0.301);
}
#generalInfo .flex{
    background-color: white;
}
.flex{
    display: flex;
}
div img{
    max-width: 100%;
    max-height: 100%;
}
.flex div{
    margin: auto;
    justify-content: center;

}
.flex div p{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#margin{
    margin: auto 5vw;
  
    justify-content: center;
}

.padding  h1{
    padding-bottom: 2vh;
    font-size: 2vw;
}
#flex2{
    display: flex;
}
.sizingGrid{
    justify-content: center;
    text-align: center;
    font-size: medium;

}
.sizingGrid div{
    padding: 1vh 1vw;
    height: 5vw;
    width: 10vw;
    background-color: #C8102E;
    color: white;
    margin: 2vh 2vw;
}
.width{
    width: 100%;
}
.morePadding{
    display: flex;
    background-color: white;
    margin: 5vh;

    
}
.paddingTextMethod{
    margin: 2vw;
    align-content: center;
    justify-content: center;
}


.button{
    background-color: #C8102E;
    width: fit-content;
    padding: .5vw 1vw;
    
}
#deliveryMargin{
    justify-content: center;
    align-content: center;
}

img.imgDeliverySize{
    height:100%;
}.flexDelivery div{
    justify-content: center;
   
   width: fit-content;
}
.flexDelivery div p{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
}
div#exploreProjects{
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 3vh 8vw;
    margin: 3vh auto;

}
div#exploreProjects div{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin: 2vw 1vw;
}
.backgroundContact{
    background-color:rgba(255, 0, 0, 0.733);
    height: min-content;
    width: 100%;
    display: block;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background: url(../Division_Tiles/Wet\ Utilities.jpg), rgba(255, 0, 0, 0.733);
    background-repeat: no-repeat;
    background-size: cover;
}
.contactWhiteBack{
    
    
    background-color: rgba(255, 255, 255, 0.467);
    width: fit-content;
}

#marketsText h1{
    margin: 4vw auto;
    
    text-align: center;
}
#marketsText p{
    margin: 3vw 20vw;
    word-break: break-all;
    
}
.contactWhiteBack h1, .padding div h1, .methodsHeader, #exploreProjects h1{
    font-size: 2.4vw;
}
#servicesTextTiles p, .methodsText{
    font-size: 1vw;
}

.sizingGridDivisions{
    justify-content: center;
    text-align: center;
    font-size: medium;

}
.sizingGridDivisions div{
    padding: 1vh 1vw;
    height: 11vh;
    width: 15vw;
    background-color: #C8102E;
    color: white;
    margin: 2vh 2vw;
}
.sizingGridDivisions div p{
    vertical-align: middle;
}

.flexDeliveryServices div{
    justify-content: center;
   

}
.flexDeliveryServices div p{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vw;
}
.flexDeliveryServices div h1{
    font-size: 1.6vw;
    padding-bottom: 5%;
}

.morePaddingServices{
   
    display: flex;
    background-color: white;
    margin: 5vh;

    
}
.morePaddingServices div{
    
    align-content: center;
    justify-content: center;
}
.servicesIMG{
    width: 70vw;
    height: 100%;
}
div#servicesTextTiles{
    margin: 3vw 10vw 0 3vw;
}
div#servicesTextTiles a.button{
    margin-top: 10vh;
    margin-bottom: 5vh;
}

div#undergroundServicesText{
    text-align: center;
    margin: 5vh 15vw;
}