#equal{
    margin-top: 2vw;
    font-size: 3vw;
    text-align: center;
}
#equalParagraph{
    padding: 3vw 5vw;
    font-size: 1vw;
}

#pathsBody{
    margin: auto 13vw;
    justify-content: center;
}

#pathsHeaderText{
    text-align: center;
}