
#pad{
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: larger;
    padding: 10vh 0;


}
#pad p{
    width: 40%;
    text-align: center;
    margin: auto;
}

#statement{
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}
div#tiles{
    width: 100%;
    display: flex;
}
div#tiles img{
    width: 20%;
    height: 20vh;
}